$white: #fff;
$black: #303030;
$orange: #f28832;
$yellow: #ff9017;
$turquoise: #00bdb7;
$lh: 1.25;
$fzMain: 1.6rem;
$default-primary-base-color: #f26323;
$default-primary-dark-color: #d1490c;
$default-primary-light-color: #f69e77;
$default-secondary-base-color: #eee;
$default-secondary-dark-color: #929292;
$default-secondary-light-color: #f8f8f8;
$grey: #e4e4e4;
$noActive: #cecbcb;
$font-muli: 'Cera Pro', sans-serif, arial;
$font-standard-size: 62.5%;

// SELECT

$select-width: 160px !default;
$select-height: 45px !default;
$select-option-height: 36px !default;
$select-arrow-height: 6px !default;
$select-arrow-width: 6px !default;

// BUTTON

$btnBc: #00bdb7;
$btnOrange: #ff9017;
$btnWhite: #fff;
$btnBorderColor: #00bdb7;
$borderRadius: 0.4rem;
$btnOtherTextColor: #00bdb7;

// Breadcrumbs

$ColorLastC: #6f6f6f;

// Input
$input_grey: #c4c4c4;

// Price
$price-with-discount-color: #f60403;
$price-discount-color: #303030;

// Blog

$timeColor: #6f6f6f;

// Warning

$warningMessage: #f60403;
